---
---

<div class="publication" itemscope itemtype="http://schema.org/ScholarlyArticle" class="{{ entry.type }}">
  <strong itemprop="name">{{ entry.title }}</strong><br />
  <span class="authors">
    {%- for author in entry.author_array -%}
    {% capture name %}{{ author.first }} {{ author.prefix }} {{ author.last }}{% endcapture %}
    {% assign name = name | replace: "  ", " " | strip %}
    <span itemprop="author">{{ name }}</span>
    {%- unless forloop.last %}, {% endunless -%}
    {% endfor %}
  </span><br />
  {%- if entry.booktitle -%}
  <span class="in">In {{ entry.booktitle }}</span>
  {%- endif -%}
  {%- if entry.journal -%}
  <span class="in">In {{ entry.journal }}</span>
  {%- endif -%}
  {%- if entry.booktitle or entry.journal %}, {% endif -%}
  {{ entry.year }}
</div>
