---
layout: default
hide_from_menu: true
---
<div class="publication" itemscope itemtype="http://schema.org/ScholarlyArticle">
  <span class="type">{{ page.entry._type }}</span>
  <h1 itemprop="name">{{ page.entry.title }}</h1>
  <p class="details">
    <span class="authors">{% for author in page.entry.author_array %}{% if first == false %},{% endif %}
    {% assign first = false %}
    {% capture name %}{{ author.first }} {{ author.prefix }} {{ author.last }}{% endcapture %}
    {% assign name = name | replace: "  ", " " %}
    {% assign knows = site.data.knows[name] %}
      <span itemprop="author">{{ name }}</span>{% endfor %}</span><br />
    {% if page.entry.booktitle %}
    <span class="in">In {{ page.entry.booktitle }} ({{ page.entry.year }})</span>
    {% endif %}
    {% if page.entry.journal %}
    <span class="in">In {{ page.entry.journal }} ({{ page.entry.year }})</span>
    {% endif %}
  </p>

  <p class="abstract">{{ page.entry.abstract }}</p>
  <hr />

  <div class="links">
    {% if page.entry.url %}
    <a href="{{page.entry.url}}" target="_blank">Article</a>
    {% endif %}
    {% if page.entry._poster %}
    <a href="{{page.entry._poster}}" target="_blank">Poster</a>
    {% endif %}
    {% if page.entry._slides %}
    <a href="{{page.entry._slides}}" target="_blank">Slides</a>
    {% endif %}
    {% if page.entry._video %}
    <a href="{{page.entry._video}}" target="_blank">Video</a>
    {% endif %}
    <div class="toggle">
      <input type="checkbox" id="checkbox-bibtex" name="checkbox-bibtex" />
      <label for="checkbox-bibtex">BibTeX</label><br />
      <pre class="bibtex content">{{ page.entry.bibtex }}</pre>
    </div>
  </div>

</div>
