---
layout: default
hide_from_menu: true
---
<div class="publication" itemscope itemtype="http://schema.org/ScholarlyArticle">
  <span class="type">{{ page.entry._type }}</span>
  <h1 itemprop="name">{{ page.entry.title }}</h1>
  <p class="details">
    <span class="authors">
    {% for author in page.entry.author_array %}
    {% capture name %}{{ author.first }} {{ author.prefix }} {{ author.last }}{% endcapture %}
    {% assign name = name | replace: "  ", " " | trim %}
      <span itemprop="author">{{ name }}</span>
      {%- unless forloop.last %}, {% endunless -%}
    {% endfor %}</span><br />
    {%- if page.entry.booktitle -%}
    <span class="in">In {{ page.entry.booktitle }}</span>
    {%- endif -%}
    {%- if page.entry.journal -%}
    <span class="in">In {{ page.entry.journal }}</span>
    {%- endif -%}
    {%- if page.entry.booktitle or page.entry.journal %}, {% endif -%}
    <span class="year">{{ page.entry.year }}</span>
  </p>
  {% if page.entry.note %}
  <p>
  {{page.entry.note}}
  </p>
  {% endif %}
  {% if page.entry.url %}
  <p>
  <a href="{{page.entry.url}}" target="_blank">Download</a>
  </p>
  {% endif %}

  <p class="abstract">{{ page.entry.abstract }}</p>

  <div class="bibtex">
      <input type="checkbox" id="checkbox-bibtex" name="checkbox-bibtex" />
      <label for="checkbox-bibtex">BibTeX</label><br />
      <pre class="bibtex content">{{ page.entry.bibtex }}</pre>
  </div>

</div>
